<article class="bg-purple-100 w-[400px] flex justify-between items-center">
  <img class="w-[50px] h-[400px] object-contain" (click)="first()"
    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAATFJREFUSEu1lc1Kw0AURs8kBYMLcacYI0UU1258geoLCKW13bit4APEhV1p/FvrSlBwEfsC+jB2l4fIosnICIVpRTv5mayHc+5MvnuvwPInLPOpLOhtRdt5zguwFifh3nzBlQSd4GYgpHwAlhU4TsJfvFKCdvNu3Z3kbyBbesW1CDqb18fgPAvk6vxzVBL0d4Yreeo9Suj/FYzSgq5/1UI4r4D/X+oKC06bQy+deLfAOSxOXCFBdyPax+Ed2DXtFSNBm5HrBuMLJJdAwxRuFFMFbwTjTyk5LAKenl14g5/q/a8PhDiyIlBQq0+kV23tJ+sSqzGduY2tRtMlalRk6dITiF7to0IHWht2usTquNZFJ0F0JiX3tS8cXaJWZpYxEoI8TsKDWlemSbeXWpkm4OmZb/1fchnafhBIAAAAAElFTkSuQmCC" />
  <div class="flex-grow h-[400px] flex flex-col justify-between items-center">
    <img class="w-full h-[330px] object-cover" src="{{product.images[0]}}" alt="{{product.title}}">
    <p>{{product.title}}</p>
    <p>{{product.price}}USD</p>
  </div>
  <img class="w-[50px] h-[400px] object-contain" (click)="next()"
    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAQ9JREFUSEu11r1qwlAYxvHnOQh6Ebo0N1N6Aa2Ii3TrXCR2s0J17tLVRfEDegGlXbpLL8BSokelY+lQAnpyihLBQUmiebMe+P8O+XhPCOGLwn3sBYr55oSAR4VKd1r7OmUThwAbRv8sedvX7tOxSBQQdvlmMqo89KrfSaGYAGDBHyC47s/unpMgsYFtlEBH5fybzmf9Nw6UGAij84AsDbT7HoUcC6y7lsBjNuO7ba/uH4JOAbbNMQJc9Ra1j31IGsC6uwR5b/RZc4hLswulBWyaJF5X2jnfRVIFALyYmXMhASxBNIx2HiRukdhDFn1N5T40sVEhPOzkxrXQgVNojWCtUQpFkSMzagQnWRf/q/gHLuuSGZbRDJkAAAAASUVORK5CYII=" />
</article>
