<!-- <div *ngFor="let item of filteredProducts" class="w-[300px] bg-gray-200 p-3 m-3">
  <p>{{item.title}}</p>
  <p>${{item.price}}</p>
  <a routerLink="/products/{{item._id}}" class="bg-black text-white cursor-pointer p-2">DETAILS</a>
</div> -->

<section class="flex flex-col justify-center items-center">
  <h2 class="text-[20px] text-center py-2">PRODUCTOS EN OFERTA</h2>
  <article class="flex flex-wrap justify-evenly items-center">
    @for (each of filteredProducts; track each._id; let index = $index, impar = $odd, total = $count) {
    @if (impar) {
    <red-card [index]="index" [total]="total" [each]="each" />
    } @else {
    <div class="w-[300px] bg-blue-300 p-3 m-3">
      <h3 class="text-[14px] font-bold">INDEX: {{index}}/{{total}}</h3>
      <p>{{each.title}}</p>
      <p>${{each.price}}</p>
      <a routerLink="/products/{{each._id}}" class="bg-black text-white cursor-pointer p-2">DETAILS</a>
    </div>
    }
    }
  </article>
  <h2 class="text-[20px] text-center py-2">TODOS LOS PRODUCTOS</h2>
  <search-input (salida)="queHagoConLaRecepcion($event)" />
  <article class="flex flex-wrap justify-evenly items-center">
    @for (each of all; track each._id; let index = $index, total = $count) {
    <red-card [index]="index" [total]="total" [each]="each" />
    }
  </article>
  <h2 class="text-[20px] text-center py-2">PRODUCTOS QUE VALEN MAS DE 100.000 Y MENOS DE 200.00</h2>
  <article class="flex flex-wrap justify-evenly items-center">
    @for (each of all; track $index) {
    @if(each.price>100000 && each.price<=200000) { <div class="w-[300px] bg-green-300 p-3 m-3">
      <h3 class="text-[14px] font-bold">INDEX: {{$index}}</h3>
      <p>{{each.title}}</p>
      <p>${{each.price}}</p>
      <a routerLink="/products/{{each._id}}" class="bg-black text-white cursor-pointer p-2">DETAILS</a>
      </div>
      }
      }
  </article>
</section>
